body {
    background-image: url('bg-image.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

/*Img lyout*/

.img {
    width: 144px;
    height: 144px;
    border: 1px solid #000;
    border-radius: 24px;
    
}

/*about me layout*/

.Aboutme {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*proficiency layout*/

.Proficiency {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*skills layout*/

.Skills {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*projects layout*/

.Projects {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*education layout*/

.Education {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*tools layout*/

.Tools {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*experience layout*/

.Experience {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*connect layout*/

.connect {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    grid-column: span 2;
}

.contactme {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    size: 14px;

}	

.vertical-line {
    width: 2px; 
    height: 10px;
    background-color: #1e1d1d; 
    margin: 0 10px; 
    
}

.toggle {
    display: flex;
    flex-direction: row;
}

/* Responsive Design */

@media (max-width: 768px) {
    .toggle {
        display: none;
    }
}

